/*-----Importando Tipografías-----*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rubik+Mono+One&family=Share+Tech+Mono&display=swap');

/*-----Aplicando el RESET-----*/
* {
    margin: 0px; 
    padding: 0px;
    box-sizing: border-box;
    }

/*-----Declarando Variables-----*/
:root{
    --orange:#FA5510;
    --yellow:#E1AA19;
    --blue:#4DA1CD;
    --blue-70:#4da1cded;
    --dark-blue:#1E2E40;
    --white:#F4F3EF;
    --white-70:#f4f3efc6;
    --white-50:#f4f3ef8d;
    --black:#090808;
    --black-70:#131313c6;
    --black-50:#1313137a;
}

/*-----CSS Shortcut Classes-----*/

.bg-light{background-color: var(--white);}
.bg-dark{background-color: var(--black);}
.bg-black{background-color: #000;}
.bg-orange{background-color: var(--orange);}
.bg-blue{background-color: var(--blue);}
.bg-yellow{background-color: var(--yellow);}

.text-white{color: var(--white);}
    .text-white-70{color: var(--white-70);}
    .text-white-50{color: var(--white-50);}
.text-dark{color: var(--black);}
.text-blue{color: var(--blue);}
.text-orange{color: var(--orange);}
.text-yellow{color: var(--yellow);}
.uppercase{text-transform: uppercase;}

.border-blue{border-color: var(--blue);}

.img-40{width: 40%;}
.img-50{width: 50%;}
.img-60{width: 60%;}

.w-30{width: 30%;}
.w-40{width: 40%;}

.relative{position: relative;}
.fixed{position: fixed;}

.z-3{z-index: 3;}
.z-2{z-index: 2;}
.z-1{z-index: 1;}
.z--1{z-index: -1;}
.z--2{z-index: -2;}
.z--3{z-index: -3;}

/*-----Estilos Tipográficos-----*/

.display-1{
    font-size: 2.5rem;
    padding: 0% 16%;
    line-height: 3.3rem;
}

.small-caps{
    font-family: 'Rubik Mono One';
    font-size: 1.17rem;
    letter-spacing: 0.02rem;
}

.subtitle-caps{
    font-family:'Questrial', monospace;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
}

/*-----Ajustes Generales-----*/
html{
    font-family: 'Questrial', sans-serif;
    line-height: 1.4rem;
    /*font-size: 62.5%;*/
}

h1{
/*font-family:'Rubik Mono One', sans-serif;*/
font-size: 2.9rem;
line-height: 3.7rem;
}

h2 {
    font-family: 'Rubik Mono One', sans-serif;
    font-size: 1.8rem;
    line-height: 2.2rem;
}

/*header, section{
    padding: 10% 3%;
}*/

/*-----CSS Específico-----*/

nav{
    position: fixed;
    padding: 0.5rem 0;
}

nav a{
    padding-bottom: 0.6rem;
    color: var(--white);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.05rem;
    font-size: 0.87rem;
}
    nav a:hover{
        color: var(--orange);
        border-bottom: var(--orange) solid 1px;
    }

    .nav-logo a:hover{
        border-bottom: none;
    }

nav .active{
    color: var(--orange);
    border-bottom: var(--orange) solid 1px;
}

.footer-hero-img{
    background:url('img/footer-img.jpeg');
    background-size: cover;
    background-position: center center;
}

/* ALTERANDO CLASES BOOSTRAP */
.carousel-caption {
    position: initial;
    text-align: right;
}
.carousel-indicators{
    justify-content: flex-start;
}
.dropdown-item:focus, .dropdown-item:hover {
    color: #1e2125;
    background-color: var(--orange);
}
.btn-primary {
    background-color: var(--orange);
    border-color: transparent;
    text-decoration: none;
    border-radius: 40px;
    padding: 2% 4%;
}
/* INDEX.HTML */

.home-hero-title{
    z-index:2;
    margin-top: 1%;
    padding: 2% 5%;
}

.clip-rombo{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.playerHome {
    bottom: 5rem;
    left: 29rem !important;
    transform: rotate(-90deg);
}

.metodologiaRow{
    top: -2rem;
}

.title-marquee {
    position: relative;
    display: flex;
    padding-left: 0;
    padding-right: 0;
    font-family: 'Share Tech Mono', monospace;
    text-transform: uppercase;
    align-items: center;
    overflow: hidden;
}

/* PORTAFOLIO.HTML */

.portafolioBreadcrumb{
    background:url('img/grabacion-de-videoclip-daniela-jatib-cromatic-films.jpg');
    background-size: cover;
    background-position: center center;
    height: 19rem;
}

/* NOSOTROS.HTML */
.comoFuncionaSection__card{
    padding: 5% 0;
}

.comoFuncionaSection__text{
    top: -22rem;
}

.comoFuncionaSection__img::before{
    content: '';
    background-color: var(--black-70);
    position: absolute;
    width: 300px;
    height: 500px;
}
.equipoSection__img img{
    border-radius: 50%;
}

/*--**************MEDIA QUERY**************--*/

/* Small devices (landscape phones, 576px and up)
*/

@media (min-width: 576px) {

/*-----CSS Shortcut Classes-----*/

/*-----Estilos Tipográficos-----*/

/*-----Ajustes Generales-----*/

/*-----CSS Específico-----*/

/* ALTERANDO CLASES BOOSTRAP */

/* INDEX.HTML */
    .playerHome {
        bottom: 4rem;
        left: 35rem !important;
    }


}
@media (min-width: 608px) and (max-width: 690px) {
 /* INDEX.HTML */
    .playerHome {
        bottom: 4rem;
        left: 32rem !important;
    }
}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

/*-----CSS Shortcut Classes-----*/

/*-----Estilos Tipográficos-----*/

/*-----Ajustes Generales-----*/

/*-----CSS Específico-----*/

/* ALTERANDO CLASES BOOSTRAP */

/* INDEX.HTML */

    .metodologiaSection div.z--1{
        top: -4rem;
    }
    .metodologiaRow{
        top: -12rem;
    }
    .playerHome {
        bottom: 5rem;
        left: 41rem !important;
    }
    /* NOSOTROS.HTML */
    .comoFuncionaSection__img::before{
        background-color: transparent;
    }
    .comoFuncionaSection__text{
        top: 0;
    }
    .comoFuncionaSection__card:nth-child(odd) .comoFuncionaSection__text{
        left: 2rem;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 

/*-----CSS Shortcut Classes-----*/

/*-----Estilos Tipográficos-----*/

/*-----Ajustes Generales-----*/

/*-----CSS Específico-----*/

/* ALTERANDO CLASES BOOSTRAP */

/* INDEX.HTML */
    .playerHome {
        bottom: 6rem;
        left: 65rem !important;
    }

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

/*-----CSS Shortcut Classes-----*/

/*-----Estilos Tipográficos-----*/

/*-----Ajustes Generales-----*/

/*-----CSS Específico-----*/

/* ALTERANDO CLASES BOOSTRAP */

/* INDEX.HTML */
.playerHome {
    bottom: 3rem;
    left: 67rem !important;
}

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

/*-----CSS Shortcut Classes-----*/

/*-----Estilos Tipográficos-----*/

/*-----Ajustes Generales-----*/

/*-----CSS Específico-----*/

/* ALTERANDO CLASES BOOSTRAP */

/* INDEX.HTML */
.playerHome {
    bottom: 5rem;
    left: 79rem !important;
}
}