.bg-light{background-color: var(--white);}
.bg-dark{background-color: var(--black);}
.bg-black{background-color: #000;}
.bg-orange{background-color: var(--orange);}
.bg-blue{background-color: var(--blue);}
.bg-yellow{background-color: var(--yellow);}

.text-white{color: var(--white);}
    .text-white-70{color: var(--white-70);}
    .text-white-50{color: var(--white-50);}
.text-dark{color: var(--black);}
.text-blue{color: var(--blue);}
.text-orange{color: var(--orange);}
.text-yellow{color: var(--yellow);}
.uppercase{text-transform: uppercase;}

.border-blue{border-color: var(--blue);}

.img-40{width: 40%;}
.img-50{width: 50%;}
.img-60{width: 60%;}

.w-30{width: 30%;}
.w-40{width: 40%;}

.relative{position: relative;}
.fixed{position: fixed;}

.z-3{z-index: 3;}
.z-2{z-index: 2;}
.z-1{z-index: 1;}
.z--1{z-index: -1;}
.z--2{z-index: -2;}
.z--3{z-index: -3;}