.bg-light{background-color: $white;}
.bg-dark{background-color: $black;}
.bg-black{background-color: #000;}
.bg-orange{background-color: $orange;}
.bg-blue{background-color: $blue;}
.bg-yellow{background-color: $yellow;}

.text-white{color: $white;}
    .text-white-70{color: $white-70;}
    .text-white-50{color: $white-50;}
.text-dark{color: $black;}
.text-blue{color: $blue;}
.text-orange{color: $orange;}
.text-yellow{color: $yellow;}
.uppercase{text-transform: uppercase;}

.border-blue{border-color: $blue;}

.img-40{width: 40%;}
.img-50{width: 50%;}
.img-60{width: 60%;}

.w-30{width: 30%;}
.w-40{width: 40%;}

.relative{position: relative;}
.fixed{position: fixed;}

.z-3{z-index: 3;}
.z-2{z-index: 2;}
.z-1{z-index: 1;}
.z--1{z-index: -1;}
.z--2{z-index: -2;}
.z--3{z-index: -3;}