$orange:#FA5510;
$orange-hover:#cc4105;
$yellow:#E1AA19;
$blue:#4DA1CD;
$blue-70:#4da1cded;
$dark-blue:#1E2E40;
$white:#F4F3EF;
$white-70:#f4f3efc6;
$white-50:#f4f3ef8d;
$black:#090808;
$black-70:#131313c6;
$black-50:#1313137a;

// Tipografías
@import url('https://fonts.googleapis.com/css2?family=Questrial&family=Rubik+Mono+One&family=Share+Tech+Mono&display=swap');

$ff-questrial: 'Questrial', sans-serif;
$ff-rubik:'Rubik Mono One', sans-serif;
$ff-tech: 'Share Tech Mono', monospace;