//Alterando clases boostrap

.dropdown-item:focus, .dropdown-item:hover {
    color: $dark;
    background-color: $primary;
}
.btn-primary {
    background-color: $primary !important;
    border-color: transparent;
    text-decoration: none;
    border-radius: 40px;
    padding: 2% 4%;
}
