.clip-rombo{
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
}

.playerHome {
    bottom: 5rem;
    left: 29rem !important;
    transform: rotate(-90deg);

    @include small {
        bottom: 4rem;
        left: 35rem !important;
    }
    @include small-bug{
        bottom: 4rem;
        left: 32rem !important;
    }
    @include tablet {
        bottom: 5rem;
        left: 41rem !important;
    }
    @include large{
        bottom: 6rem;
        left: 65rem !important;
    }
    @include extraLarge{
        bottom: 3rem;
        left: 67rem !important;
    }
    @include extraXLarge{
        bottom: 5rem;
        left: 79rem !important;
    }

}

.metodologiaRow{
    top: -2rem;
    h3{
        font-family: $ff-rubik;
    }
}

.title-marquee {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    padding: .5rem 0;
    font-family: $ff-tech;
    text-transform: uppercase;
    color: $light;
}

.comoFuncionaSection{
    &__card{
            padding: 5% 0;
        }
    &__text{
        top: -22rem;
        @include tablet{
            top: 0;
        }
    }
    &__card:nth-child(odd) .comoFuncionaSection__text{
        @include tablet{
            left: 2rem;
        }
    }
    &__img::before{
        content: '';
        background-color: $dark-70;
        position: absolute;
        width: 300px;
        height: 500px;
        @include tablet{
            background-color: transparent;
        }
    }
}

.equipoSection__img img{
    border-radius: 50%;
}

// Servicios Page
.serviciosSection__servicios:nth-child(odd) .serviciosSection__card{
    @include tablet{
        margin-right: 2rem !important;
    }
}
